/* Css class for color page. */
body{ 
    background-color: #757A80;
}
/* Css class for fitting page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoomAnimation{
    transition: transform 0.3s;
}

.zoomAnimation:hover{
    transform: scale(1.2);    
}
.logSystem{
    min-height:30px;
    overflow: hidden;
}
.logFont{
    color: black;
}
.mainTitle{
    color: black;
    font-family: 'Bruno Ace SC', cursive;
}
.normalText{
    color: black;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}
.secondaryTitle{
    font-family: 'Secular One', sans-serif;
}
/* This media query trims the page dimension for printing. */
@media print {
    @page{
        size: 1675px 875px;
    }
}